h1 {
  font-size: 1.4em;
  font-weight: bold;
  margin: 1em 0;
}

.mainmenu {
  padding: 0 1em 2em 1em;
  border-bottom: 1px solid gray;
  margin-bottom: 2em;
}

.mainmenu li {
  padding: 5px 0;
}

.chart-1 .bar {
  fill: steelblue;
}

.chart-1 .bar:hover {
  fill: brown;
}

.chart-1 .axis {
  font: 10px sans-serif;
}

.chart-1 .axis path,
.chart-1 .axis line {
  fill: none;
  stroke: #000;
  shape-rendering: crispEdges;
}

.chart-1:NOT(.line-1) .x.axis path {
  display: none;
}

.available-line {
  fill: none;
  stroke: rgb(108, 84, 161);
  stroke-width: 2px;
}

.ledger-line {
  fill: none;
  stroke: rgb(128, 0, 85);
  stroke-width: 2px;
}

.booked-line {
  fill: none;
  stroke: rgb(72, 128, 116);
  stroke-width: 2px
}

.legend-line {
  stroke-width: 0;
  font-family: arial, sans-serif;
  font-size: 14px;
  fill: black;
}

.available-symbol {
  fill: rgb(108, 84, 161);
}

.booked-symbol {
  fill: rgb(72, 128, 116);
}

.ledger-symbol {
  fill: rgb(128, 0, 85);
}

.line-1 .legend-rect {
  fill: none;
  stroke: lightblue;
  stroke-width: 2px;
}

.chart-1.line-1.line-2 {
  border: 1px solid #ddd;
}
