h1 {
  font-size: 1.4em;
  font-weight: bold;
  margin: 1em 0;
}

.mainmenu {
  padding: 0 1em 2em 1em;
  border-bottom: 1px solid gray;
  margin-bottom: 2em;
}

.mainmenu li {
  padding: 5px 0;
}

.chart-1 .bar {
  fill: steelblue;
}

.chart-1 .bar:hover {
  fill: brown;
}

.chart-1 .axis {
  font: 12px Arial, sans-serif;
  font-weight: bold;
}

.chart-1 .axis path,
.chart-1 .axis line {
  fill: none;
  stroke: black;
  shape-rendering: crispEdges;
}

.chart-1 .axis path, .x.axis.line {
  stroke: #d3d3d3;
}

.x.axis path {
  display: none;
}

.available-line {
  fill: none;
  stroke: rgb(108, 84, 161);
  stroke-width: 4px;
}

.ledger-line {
  fill: none;
  stroke: rgb(128, 0, 85);
  stroke-width: 4px;
}

.booked-line {
  fill: none;
  stroke: rgb(72, 128, 116);
  stroke-width: 4px
}

.legend-line, .legend-dateline {
  stroke-width: 0;
  font-family: Arial, sans-serif;
  font-size: 15px;
  shape-rendering: crispEdges;
  fill: black;
}

.available-symbol {
  fill: rgb(108, 84, 161);
}

.booked-symbol {
  fill: rgb(72, 128, 116);
}

.ledger-symbol {
  fill: rgb(128, 0, 85);
}

.available-symbol:focus, .booked-symbol:focus, .ledger-symbol:focus {
  outline: 2px solid #6da003;
}

.line-1 .legend-rect {
  fill: white;
  stroke: #6da003;
  stroke-width: 1px;
}

.chart-1.line-1.line-2, .chart-1.line-1.tbar-1 {
  border: 1px solid #ddd;
}

.chart-options, .chart-options * {
  -webkit-touch-callout: none; /* iOS Safari */
  -webkit-user-select: none;   /* Chrome/Safari/Opera */
  -khtml-user-select: none;    /* Konqueror */
  -moz-user-select: none;      /* Firefox */
  -ms-user-select: none;       /* Internet Explorer/Edge */
}

svg, svg * {
  -webkit-touch-callout: none; /* iOS Safari */
  -webkit-user-select: none;   /* Chrome/Safari/Opera */
  -khtml-user-select: none;    /* Konqueror */
  -moz-user-select: none;      /* Firefox */
  -ms-user-select: none;       /* Internet Explorer/Edge */
}

.chart-options > div {
  padding: 10px;
  border-bottom: 1px solid lightgray;
}

.chart-options > div:last-child {
  border-bottom-width: 0;
}

.tir-checkboxes li, .tir-chart-type li {
  display: inline-block;
  padding: 6px 10px;
}

h2 {
  font-weight: bold;
  margin: 10px 0;
}

.y-horizontal {
  stroke: lightblue;
  stroke-width: 1;
  stroke-dasharray: 2, 4;
}

.hidden {
  display: none;
}

.selected-backing {
  fill: red;
  opacity: 0.3;
}

.average-area {
  fill: black;
  opacity: 0.2;
}
