h1 {
  font-size: 1.4em;
  font-weight: bold;
  margin: 1em 0;
}

.mainmenu {
  padding: 0 1em 2em 1em;
  border-bottom: 1px solid gray;
  margin-bottom: 2em;
}

.mainmenu li {
  padding: 5px 0;
}

.chart-1 .bar {
  fill: steelblue;
}

.chart-1 .bar:hover {
  fill: brown;
}

.chart-1 .axis {
  font: 10px sans-serif;
}

.chart-1 .axis path,
.chart-1 .axis line {
  fill: none;
  stroke: #000;
  shape-rendering: crispEdges;
}

.chart-1 .x.axis path {
  display: none;
}
